<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confession</title>

    <!-- Bootstrap plugins -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> 
    <link rel="stylesheet" href="style/style.css">

    <!-- CKE Editor -->
    <script src="https://cdn.ckeditor.com/4.15.1/full/ckeditor.js"></script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Script -->
    <script src="script/script.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href='/' class="navbar-brand">EasySurvey</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            </ul>
            <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a href='/' class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href='/contact' class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
                <a href='/about' class="nav-link">About</a>
            </li>
            </ul>
            
            </div>
        </div>
    </nav>

    <div class="body-content">
        <div class="home-container">
            <div class="create-post-container">

                <div class="text-center mt-3 mb-3">
                    <h1>Create Post</h1>
                </div>

                <form method="POST" action="/" id="create-post-form">
                    <div class="form-group">
                        <label>Author:</label>
                        <input class="form-control" type="text" placeholder="Your Name" name="author">
                    </div>

                    <div class="form-group">
                        <label>Title:</label>
                        <input class="form-control" type="text" placeholder="Post Title" name="title">
                    </div>

                    <div class="form-group">
                        <label>Content:</label>
                        <textarea class="form-control" cols="30" rows="10" name="content"></textarea>
                    </div>
                    

                    <!-- CKE EDITOR Plugins -->
                    <script>
                        CKEDITOR.replace('content');
                    </script>

                    <div class="text-right mt-3">
                        <button class="btn btn-dark" type="submit">Create Post</button>
                    </div>
                </form>
            </div>

            <div class="text-center mb-3">
                <button class="btn btn-dark" id="show-toggle"><i class="fas fa-angle-double-down" id="show-icon"></i></button>
            </div>

            <div class="post-container">
                <div class="text-center">
                    <h2 class="font-weight-bold">Confession</h2>
                </div>

                <div class="list-container">
                    <!-- <div class="confession-post">
                        <div class="post-header">
                            <div class="post-header-col">
                                <img src="images/profile.png" alt="" class="profile-image"/>
                            </div>
                            
                            <div class="post-header-col">
                                <span class="author-name ml-3 font-weight-bold">Admin</span>

                                <div class="post-time-container">
                                    <span class="post-time ml-3">20:37 - 23 August 2020</span>
                                </div>
                            </div>
                        </div>

                        <div class="post-content mt-3">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Cupiditate sint alias consectetur aliquam minus saepe, asperiores 
                            provident veniam, tenetur et laudantium? Veritatis cumque quod delectus 
                            odio nihil, magnam, exercitationem harum ut saepe beatae libero repellat 
                            id consectetur fugit deleniti. 
                            Ab rem corporis qui quae sed harum accusantium vel ducimus dolore.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Cupiditate sint alias consectetur aliquam minus saepe, asperiores 
                            provident veniam, tenetur et laudantium? Veritatis cumque quod delectus 
                            odio nihil, magnam, exercitationem harum ut saepe beatae libero repellat 
                            id consectetur fugit deleniti. 
                            Ab rem corporis qui quae sed harum accusantium vel ducimus dolore.
                        </div>

                        <div class="comment-section mt-2">
                            <i class="far fa-comment-alt"></i>
                            <span class="comment-count ml-2">40</span>

                            <div class="comment-container">
                                <div class="comment-row">
                                    <div class="comment-col-1">
                                        <div class="comment-header">
                                            <div class="post-header-col">
                                                <img src="images/unknown.png" alt="" class="commenter-profile-image"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="comment-col-2">
                                        <div class="post-content mt-3">
                                            <div class="post-header-col">
                                                <span class="author-name ml-3 font-weight-bold">Admin</span>
                
                                                <div class="post-time-container">
                                                    <span class="post-time ml-3">20:37 - 23 August 2020</span>
                                                </div>
                                            </div>
                                            <div class="ml-3 mt-3">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Cupiditate sint alias consectetur aliquam minus saepe, asperiores 
                                            provident veniam, tenetur et laudantium? Veritatis cumque quod delectus 
                                            odio nihil, magnam, exercitationem harum ut saepe beatae libero repellat 
                                            id consectetur fugit deleniti. 
                                            Ab rem corporis qui quae sed harum accusantium vel ducimus dolore.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Cupiditate sint alias consectetur aliquam minus saepe, asperiores 
                                            provident veniam, tenetur et laudantium? Veritatis cumque quod delectus 
                                            odio nihil, magnam, exercitationem harum ut saepe beatae libero repellat 
                                            id consectetur fugit deleniti. 
                                            Ab rem corporis qui quae sed harum accusantium vel ducimus dolore.
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="comment-input mt-3">
                                <form method="POST" action="/comment">
                                    <input type="text" class="form-control rounded-pill" placeholder="write a comment..." name="comment_input">
                                </form>
                                
                            </div>
                        </div>
                    </div> -->

                    
                        <% if (post.length > 0) { %>
                            <% post.forEach(post => { %>
                                <div class="confession-post">
                                    <div class="post-header">
                                        <div class="post-header-col">
                                            <img src="images/profile.png" alt="" class="profile-image"/>
                                        </div>
                                        
                                        <div class="post-header-col">
                                            <span class="author-name ml-3 font-weight-bold">
                                                <%= post.author %>
                                            
                                            </span>
            
                                            <div class="post-time-container">
                                                <span class="post-time ml-3">
                                                    <script>
                                                        var post_time = '<%=post.createdAt%>';
                                                        document.write(post_time.substring(4,25));
                                                    </script>
                                                    
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post-content mt-3">
                                        <%- post.content %>
                                    </div>
            
                                    <div class="comment-section mt-2">
                                        <i class="far fa-comment-alt"></i>
                                        <span class="comment-count ml-2"><%= post.comment.length %></span>
            
                                        <div class="comment-container">
                                            <% post.comment.forEach(comments => { %>
                                            <div class="comment-row">
                                                <div class="comment-col-1">
                                                    <div class="comment-header">
                                                        <div class="post-header-col">
                                                            <img src="images/unknown.png" alt="" class="commenter-profile-image"/>
                                                        </div>
                                                    </div>
                                                </div>
            
                                                <div class="comment-col-2">
                                                    
                                                    <div class="post-content mt-3">
                                                        <div class="post-header-col">
                                                            <span class="author-name ml-3 font-weight-bold">Anonymous</span>
                            
                                                            <div class="comment-time-container">
                                                                <span class="comment-time ml-3">
                                                                    <script>
                                                                        var post_time = '<%=comments.createdAt%>';
                                                                        document.write(post_time.substring(4,25));
                                                                    </script>
                                                                </span>
                                                            </div>
                                                        </div>

                                                        <div class="ml-3 mt-3">
                                                            <%= comments.comment %>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                        </div>
            
                                        <div class="comment-input mt-3">
                                            <form method="POST" action="/comment/<%= post.id %>">
                                                <input type="text" class="form-control rounded-pill" placeholder="write a comment..." name="comment_input">
                                            </form>
                                            
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                          <% } else { %>
                            <p>There are no blogs to display...</p>
                          <% } %>
                    
                </div>
            </div>

        </div>
    </div>
</body>
</html>