<!-- No Script -->
<noscript>
    <meta HTTP-EQUIV="refresh" content=0;url="noscript">
</noscript>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confession</title>

    <!-- Bootstrap plugins -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> 
    <link rel="stylesheet" href="style/style.css">

    <!-- CKE Editor -->
    <script src="https://cdn.ckeditor.com/4.15.1/full/ckeditor.js"></script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Script -->
    <script src="script/script.js"></script>

    <!-- Cloudflare API -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
        //Generate client unique ip
        generateClientIp();
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href='/' class="navbar-brand">EasyConfession</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            </ul>
            <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a href='/' class="nav-link active">Home</a>
            </li>
            </li>
            <li class="nav-item">
                <a href='/about' class="nav-link">About</a>
            </li>
            </ul>
            
            </div>
        </div>
    </nav>

    <div class="body-content">
        <div class="home-container">
            <div class="create-post-container">

                <div class="text-center mt-3 mb-3">
                    <h1>Create Post</h1>
                </div>

                <form method="POST" action="/" id="create-post-form" onsubmit="return postValidation()">
                    <div class="form-group">
                        <label>Author:</label>
                        <input class="form-control" type="text" placeholder="Your Name" name="author" id="authorName">
                        <div class="text-danger mt-1 ml-1 error-prompt"></div>
                    </div>

                    <div class="form-group">
                        <label>Title:</label>
                        <input class="form-control" type="text" placeholder="Post Title" name="title" id="title">
                        <div class="text-danger mt-1 ml-1 error-prompt"></div>
                    </div>

                    <div class="form-group">
                        <label>Content:</label>
                        <textarea class="form-control" cols="30" rows="10" name="content" id="content"></textarea>
                        <div class="text-danger mt-1 ml-1 error-prompt"></div>
                    </div>
                    
                    <div class="form-group">
                        <input type="hidden" id="client_id" name="client_id">
                        <script>
                            getClientIp('client_id');
                        </script>
                    </div>

                    <!-- CKE EDITOR Plugins -->
                    <script>
                        CKEDITOR.replace('content', {
                            removeButtons: 'Source',
                        });
                    </script>

                    <div class="text-right mt-3">
                        <button class="btn btn-dark" type="submit">Create Post</button>
                    </div>
                </form>
            </div>

            <div class="alert-container mt-3" id="alert-container"></div>

            <div class="post-container">
                <div class="text-center">
                    <h2 class="font-weight-bold">Confession</h2>
                </div>

                <div class="post-search">
                    <form class="search-input-form" method="POST" action="/post-search">
                        <input type="text" name="post_search" class="form-control" placeholder="Search post here..." id="">
                        <i class="fas fa-search search-icon"></i>
                    </form>
                </div>

                <div class="mt-3 mb-3 total-post">
                    Post : <%= post.length  %>
                </div>
                <div class="list-container">
                    <!-- <div class="confession-post">
                        <div class="post-header">
                            <div class="post-header-col">
                                <img src="images/profile.png" alt="" class="profile-image"/>
                            </div>
                            
                            <div class="post-header-col">
                                <span class="author-name ml-3 font-weight-bold">Admin</span>

                                <div class="post-time-container">
                                    <span class="post-time ml-3">20:37 - 23 August 2020</span>
                                </div>
                            </div>

                            <div class="post-header-col" id="edit-trigger-abc3341">
                                <div class="text-right edit-area">
                                    <div class="dropdown">
                                        <i class="fas fa-ellipsis-v" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" onclick="editPost('abc3341')">Edit</a>
                                            <a class="dropdown-item">Delete</a>
                                        </div>
                                    </div>

                                    <script>
                                        checkEdit("115.135.98.126", "edit-trigger-abc3341");
                                    </script>
                                </div>
                            </div>
                        </div>

                        <div class="post-content mt-3" id="content-container-abc3341">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Cupiditate sint alias consectetur aliquam minus saepe, asperiores 
                            provident veniam, tenetur et laudantium? Veritatis cumque quod delectus 
                            odio nihil, magnam, exercitationem harum ut saepe beatae libero repellat 
                            id consectetur fugit deleniti. 
                            Ab rem corporis qui quae sed harum accusantium vel ducimus dolore.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Cupiditate sint alias consectetur aliquam minus saepe, asperiores 
                            provident veniam, tenetur et laudantium? Veritatis cumque quod delectus 
                            odio nihil, magnam, exercitationem harum ut saepe beatae libero repellat 
                            id consectetur fugit deleniti. 
                            Ab rem corporis qui quae sed harum accusantium vel ducimus dolore.
                        </div>

                        <input type="hidden" id="prev-value-abc3341" value="Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Cupiditate sint alias consectetur aliquam minus saepe, asperiores 
                        provident veniam, tenetur et laudantium? Veritatis cumque quod delectus 
                        odio nihil, magnam, exercitationem harum ut saepe beatae libero repellat 
                        id consectetur fugit deleniti. 
                        Ab rem corporis qui quae sed harum accusantium vel ducimus dolore.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Cupiditate sint alias consectetur aliquam minus saepe, asperiores 
                        provident veniam, tenetur et laudantium? Veritatis cumque quod delectus 
                        odio nihil, magnam, exercitationem harum ut saepe beatae libero repellat 
                        id consectetur fugit deleniti. 
                        Ab rem corporis qui quae sed harum accusantium vel ducimus dolore.">

                        <div id="edit-area-display-abc3341">

                        </div>

                        <div class="comment-section mt-2">
                            <i class="far fa-comment-alt"></i>
                            <span class="comment-count ml-2">40</span>

                            <div class="comment-container">
                                <div class="comment-row">
                                    <div class="comment-col-1">
                                        <div class="comment-header">
                                            <div class="post-header-col">
                                                <img src="images/unknown.png" alt="" class="commenter-profile-image"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="comment-col-2">
                                        <div class="post-content mt-3">
                                            <div class="post-header-col">
                                                <span class="author-name ml-3 font-weight-bold">Admin</span>
                
                                                <div class="post-time-container">
                                                    <span class="post-time ml-3">20:37 - 23 August 2020</span>
                                                </div>
                                            </div>
                                            
                                            <div class="ml-3 mt-3">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Cupiditate sint alias consectetur aliquam minus saepe, asperiores 
                                            provident veniam, tenetur et laudantium? Veritatis cumque quod delectus 
                                            odio nihil, magnam, exercitationem harum ut saepe beatae libero repellat 
                                            id consectetur fugit deleniti. 
                                            Ab rem corporis qui quae sed harum accusantium vel ducimus dolore.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Cupiditate sint alias consectetur aliquam minus saepe, asperiores 
                                            provident veniam, tenetur et laudantium? Veritatis cumque quod delectus 
                                            odio nihil, magnam, exercitationem harum ut saepe beatae libero repellat 
                                            id consectetur fugit deleniti. 
                                            Ab rem corporis qui quae sed harum accusantium vel ducimus dolore.
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="comment-input mt-3">
                                <form method="POST" action="/comment">
                                    <input type="text" class="form-control rounded-pill" placeholder="write a comment..." name="comment_input">
                                </form>
                                
                            </div>
                        </div>
                    </div> -->

                    
                        <% if (post.length > 0) { %>
                            <% post.forEach(post => { %>
                                <div class="confession-post">
                                    <div class="post-header">
                                        <div class="post-header-col">
                                            <img src="images/profile.png" alt="" class="profile-image"/>
                                        </div>
                                        
                                        <div class="post-header-col">
                                            <span class="author-name ml-3 font-weight-bold">
                                                <%= post.author %>
                                            
                                            </span>
            
                                            <div class="post-time-container">
                                                <span class="post-time ml-3">
                                                    <script>
                                                        var post_time = '<%=post.createdAt%>';
                                                        document.write(post_time.substring(4,25));
                                                    </script>
                                                    
                                                </span>
                                            </div>
                                        </div>

                                        <div class="post-header-col" id="edit-trigger-<%= post.id %>">
                                            <div class="text-right edit-area">
                                                <div class="dropdown">
                                                    <i class="fas fa-ellipsis-v" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item" onclick="editPost('<%= post.id %>')">Edit</a>
                                                        <a class="dropdown-item" onclick="deletePost('<%= post.id %>')" data-toggle="modal" data-target="#deleteModal">Delete</a>
                                                    </div>
                                                </div>
            
                                                <script>
                                                    checkEdit("<%= post.creatorID %>", "edit-trigger-<%= post.id %>");
                                                </script>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post-title font-weight-bold mt-3">
                                        #<%= post.title %>
                                    </div>

                                    <div class="post-content mt-3" id="content-container-<%= post.id %>">
                                        <%- post.content %>
                                    </div>

                                    <input type="hidden" id="prev-value-<%= post.id %>" value="<%=post.content %>" />

                                    <div id="edit-area-display-<%= post.id %>"></div>
            
                                    <div class="comment-section mt-2">
                                        <i class="far fa-comment-alt"></i>
                                        <span class="comment-count ml-2"><%= post.comment.length %></span>
                                            <% if(post.comment.length > 5){  %>
                                                <div class="mt-3 view-more-comment" onclick="viewMoreComment('<%= post.id %>')" id="view-trigger-<%= post.id %>">
                                                    View <span id="view-more-<%= post.id %>"><%=post.comment.length-5  %></span> More
                                                </div>
                                                
                                            <% }  %>

                                            <% var comment_count = 0; %>
                                        <div class="comment-container" id="<%= post.id %>">
                                            <% post.comment.forEach(comments => {  comment_count++;%>
                                                <% if(comment_count <= 5){  %>
                                            <div class="comment-row">
                                                <div class="comment-col-1">
                                                    <div class="comment-header">
                                                        <div class="post-header-col">
                                                            <img src="images/unknown.png" alt="" class="commenter-profile-image"/>
                                                        </div>
                                                    </div>
                                                </div>
            
                                                <div class="comment-col-2">
                                                    
                                                    <div class="post-content mt-3">
                                                        <div class="post-header-col">
                                                            <span class="author-name ml-3 font-weight-bold">Anonymous</span>
                            
                                                            <div class="comment-time-container">
                                                                <span class="comment-time ml-3">
                                                                    <script>
                                                                        var post_time = '<%=comments.createdAt%>';
                                                                        document.write(post_time.substring(4,25));
                                                                    </script>
                                                                </span>
                                                            </div>
                                                        </div>

                                                        <div class="ml-3 mt-3">
                                                            <%= comments.comment %>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                                <% }else{ %>
                                                    <div class="comment-row" style="display: none;">
                                                        <div class="comment-col-1">
                                                            <div class="comment-header">
                                                                <div class="post-header-col">
                                                                    <img src="images/unknown.png" alt="" class="commenter-profile-image"/>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="comment-col-2">
                                                            
                                                            <div class="post-content mt-3">
                                                                <div class="post-header-col">
                                                                    <span class="author-name ml-3 font-weight-bold">Anonymous</span>
                                    
                                                                    <div class="comment-time-container">
                                                                        <span class="comment-time ml-3">
                                                                            <script>
                                                                                var post_time = '<%=comments.createdAt%>';
                                                                                document.write(post_time.substring(4,25));
                                                                            </script>
                                                                        </span>
                                                                    </div>
                                                                </div>
        
                                                                <div class="ml-3 mt-3">
                                                                    <%= comments.comment %>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>

                                                <% }%>
                                            <% }) %>
                                        </div>
            
                                        <div class="comment-input mt-3">
                                            <form method="POST" action="/comment/<%= post.id %>" onsubmit="return commentValidation('comment_<%= post.id %>')">
                                                <input type="text" class="form-control rounded-pill" placeholder="write a comment..." name="comment_input" id="comment_<%= post.id %>">
                                                <input type="hidden" id="client_id_<%= post.id %>" name="client_id">
                                                <script>
                                                    getClientIp('client_id_<%= post.id %>');
                                                </script>
                                            </form>
                                            
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                          <% } else { %>
                            <div class="mt-3 text-danger font-weight-bold">
                                No blogs found...
                            </div>
                          <% } %>
                    
                </div>
            </div>

        </div>
    </div>
</body>
</html>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete this post? This action is <strong>irreversible</strong>.
        </div>
        <div class="modal-footer">
            <form method="POST" action="/delete-post">
                <input type="hidden" name="delete_id" value="" id="deletePostInput">
                <input type="hidden" id="delete_client" name="delete_client">
                <script>
                    getClientIp('delete_client');
                </script>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        </div>
    </div>
</div>

<script>
    //Check Action
    actionAlert();
</script>